html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: url("./background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

body {
	/* Explanation : https://github.com/twbs/bootstrap/pull/19098 */
	font-family:
	/* 1 */ -apple-system, BlinkMacSystemFont,
	/* 2 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	/* 3 */ "Helvetica Neue", sans-serif;
    /* font-family: "Lato",Arial,sans-serif; */
    font-weight: 300;
}

/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: inline-flex;
}

nav h2 {
    color: #004a99;
    margin-left: 20px;
}
  
nav ul {
    list-style-type: none;
    /* padding: 0; */
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #007bff;
}

nav ul li a:hover {
    color: #004a99;
}
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

/* Style buttons */
.btn-icon {
    background-color: rgba(255,255,255,0);
    border: none;
    color: #007bff;
    font-size: 16px;
  cursor: pointer;
}

/* Darker on mouse-over */
.btn-icon:hover {
  color: #004a99;
} 

.btn-label {
    padding: 7px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
.btn-label:hover {
    background-color: #004a99;
  }
  
h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
    border-radius: 4px;
}

.container-home {
    padding: 100px;
    display: flex;
}

.container-home .left {
    flex: 0 0 45%;
}

.container-home .right {
    flex: 1;
}

.container-home h1 {
    width: 400px;
    font-size: 70px;
    color: white;
}

.container-home p {
    width: 300px;
    color: white;
}

.container-home button {
    margin-top: 40px;
    margin-left: 40px;
}

.container-about {
    padding: 100px;
}

.container-about h1 {
    font-size: 70px;
    color: white;
}

.container-about p {
    color: white;
}

.container-about h2 {
    font-size: 50px;
    color: white;
    margin-right: 50px;
    width: 200px;
}

.container-about .about-people {
    display: inline-flex;
    margin-top: 50px;
}

.container-about .about-people-elm {
    text-align:center;
    margin-left: 30px;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(0,74,153,0.5);
}

.container-about .about-people-elm * {
    margin:auto;
}

.container-contact {
    padding: 100px;
}

.container-contact h1 {
    font-size: 70px;
    color: white;
}

.container-contact p {
    color: white;
}

#contactForm {
    color: white;
	max-width: 400px;
	margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(0,74,153,0.5);
}
			
#contactForm input,
#contactForm textarea {
	width: 100%;
	margin-bottom: 15px;
	padding: 8px;
    background-color: rgba(255,255,255,0.5);
}

#contactForm button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}

#contactForm button:hover {
	background-color: #0056b3;
}

#result {
    color: white;
}

#result img {
    width: 300px;
}

#result .result-div {
    text-align:center;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(0,74,153,0.5);
}